*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #444;
  color: #ddd;
  font-family: "Arial";
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(2, 2, 2, 0.7)),
    url("/images/header-compressed.jpg");
  height: 100vh;
  padding: 0 10%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-text-box {
  position: relative;
  width: 100%;
  top: 30%;
}

h1 {
  margin: 0;
}
